
body { background:#020617; color:white; font-family:sans-serif; text-align:center; }
.hidden { display:none; }
input,button { padding:8px; margin:4px; }
canvas { background:black; width:100vw;height:100vh; }
