
body {
  margin: 0;
  background: #020617;
  color: white;
  font-family: sans-serif;
}

#auth, #lobby {
  position: fixed;
  top: 20px;
  left: 20px;
  background: #111;
  padding: 10px;
  border-radius: 8px;
}

input, button {
  margin: 4px;
}
